<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="user" >
  <select id="checkUserId" parameterType="java.lang.String" resultType="java.lang.String">
    <![CDATA[
      SELECT user_name
        FROM user_table
       WHERE user_id = #{user_id}
    ]]>
  </select>
  
  <insert id="addUserInfo" parameterType="com.tjoeun.dto.UserDTO">
    <![CDATA[
      INSERT INTO user_table VALUES(user_seq.nextval, #{user_name}, #{user_id}, #{user_pw})
    ]]>    
  </insert>
  
  <select id="getLoginUserInfo" 
          parameterType="com.tjoeun.dto.UserDTO" 
          resultType="com.tjoeun.dto.UserDTO" >
    <![CDATA[ 
           SELECT *
             FROM user_table
            WHERE user_id = #{user_id} AND user_pw = ${user_pw}      
    ]]>  
  </select>
  
  <select id="getModifyUserInfo" 
          parameterType="java.lang.Integer" 
          resultType="com.tjoeun.dto.UserDTO" >
    <![CDATA[ 
           SELECT *
             FROM user_table
            WHERE user_idx = #{user_idx}      
    ]]>  
  </select>
  
  <update id="modifyUserInfo"
          parameterType="com.tjoeun.dto.UserDTO">
    <![CDATA[ 
           UPDATE user_table 
              SET user_pw = #{user_pw}
            WHERE user_idx = #{user_idx}   
    ]]>  
  </update>
  
</mapper>






